In [203]:
kharif_1 = ['खरीप ज्वारी','बाजरी','मुग','उडिद','तीळ','सोयाबीन','मका','खरीप भुईमुग','खरीप सुर्यफुल','खरीप चारा पिके','खरीप भात','नागली','वरई','वाल','Others']
kharif_2_ = ['कांदा','मिरची','वांगे','टोमेटो','फुल कोबी','बटाटा','भेंडी','भाजीपाला','Others']
kharif_3 = ['तूर','हळद','आले','कापूस']
rabi_4 = ['रबी ज्वारी','हरभरा','गहू','मका','करडई','मोहोरी','रब्बी इतर गळीत','रबी भुईमुग','रबी सुर्यफुल','रबी चारा पिके','उन्हाळी भुईमुग','उन्हाळी सुर्यफुल','Others']
rabi_5 = ['कांदा','मिरची','वांगे','टोमेटो','फुल कोबी','बटाटा','भेंडी','भाजीपाला']
summer_7 = rabi_5
annual_8 = ['आंबा','काजू','नारळ','सीताफळ','सुपारी','चिकू','पेरू','बोर','द्राक्ष','केळी','डाळिंब','लिंबू वर्गीय झाडे (संत्र, मोसंबी इ.)','ऊस (आडसाली) - जानेवारी पेरणी','ऊस (सुरु) - जानेवारी पेरणी','ऊस (पूर्व हंगामी) - ऑक्टोबर','Others']

In [204]:
import pandas as pd

directory = pd.read_csv('dictionary.csv')
years = [2018,2013,2008,2003,1998]
for ind in directory.index: 
     print(directory['Village'][ind], directory['filename'][ind])

Bhatwadi Bhatwadi_TCA
Chandrapur Chandrapur CP_TCA
Dapur Dapur_TCA
Dattanagar Dattanagar_TCA
Dhondbar Dhondbar CP_TCA
Dhondvirnagar Dhondvirnagar_TCA
Eklahare Basic Info _ CP Data Eklahare_TCA
Fardapur Basic Info _ CP Data Fardapur_TCA
Gonde Gonde_TCA
Gulvanch Gulwanch_TCA
Gurewadi Gurewadi CP_TCA
Harsule Harsule_TCA
Jamgaon Jamgaon CP_TCA
Khadangali Basic Info _ CP Data Khadangali_TCA
Khambale Basic Info _ CP Data Khambale_TCA
Khopadi Bk. Basic Info _ CP Data Khopadi Budruk_TCA
Khopadi Kh. Basic Info _ CP Data Khopadi Khurd_TCA
Krishnanagar Krishnanagar CP_TCA
Kundewadi Majre Kundewadi_TCA
Maparwadi Maparwadi_TCA
Mendhi Basic Info _ CP Data Mendi_TCA
Musalgaon Musalgaon_TCA
Nimgaon Sinner Basic Info _ CP Data Nimgaon_TCA
Panchale Basic Info _ CP Data Panchale_TCA
Paste Paste_TCA
Pimpalgaon Basic Info _ CP Data Pimpalgaon_TCA
Sangavi Basic Info _ CP Data Sangvi_TCA
Shahapur Basic Info _ CP Data Shahapur_TCA
Shastrinagar (Lonarwadi) Shastrinagar_TCA
Somthane Basic Info _ CP Data Somathane_TCA
Sonambe Sonambe_TCA
Sonari Sonari_TCA
Vadangali Basic Info _ CP Data Vadangali_TCA
Wadgaon Sinnar Wadgaon Sinnar CP_TCA

In [205]:
file = directory['filename'][1]
v_name = directory['Village'][1]

In [206]:
df = pd.read_excel(file+'.xlsx', sheet_name=None) # can also index sheet by name or fetch all sheets

In [207]:
village_name = "Eklahare"

In [208]:
my_df = df['2018'][['खरीप प्रमुख पिके','total_cultivable_area']].values.tolist()

In [209]:
my_df

[['खरीप भात', 137.2098],
 ['खरीप भुईमुग', 36.618],
 ['बाजरी', 41.1414],
 ['मुग, मठ, चवळी, उडिद, \nकुलीद', 16.0473],
 ['सोयाबीन', 276.6813],
 ['खरीप भाजीपाला पिके', 'total_cultivable_area'],
 ['Others', 4.5234],
 ['कांदा', 27.4635],
 ['टोमेटो', 18.309],
 ['भाजीपाला', 22.8324],
 ['भेंडी', 9.1545],
 ['दीर्घ खरीप पिके', nan],
 ['रब्बी प्रमुख पिके', 'total_cultivable_area'],
 ['गहू', 118.9008],
 ['मका', 36.618],
 ['रबी ज्वारी', 18.309],
 ['रबी भुईमुग', 4.5234],
 ['हरभरा', 137.2098],
 ['रब्बी भाजीपाला पिके', nan],
 ['उन्हाळी प्रमुख पिके', nan],
 ['उन्हाळी भाजीपाला पिके', 'total_cultivable_area'],
 ['कांदा', 89.1756],
 ['वार्षिक व बहुवर्षीय पिके', nan]]

In [210]:
length = len(my_df)

In [211]:
len(kharif_1)

15

In [212]:

for i in range(length):
    if my_df[i][0] == 'खरीप भाजीपाला पिके':
        a = i
    if my_df[i][0] == 'दीर्घ खरीप पिके':
        b = i
    if my_df[i][0] == 'रब्बी प्रमुख पिके':
        c = i
    if my_df[i][0] == 'रब्बी भाजीपाला पिके':
        d = i
    if my_df[i][0] == 'उन्हाळी प्रमुख पिके':
        e = i
    if my_df[i][0] == 'उन्हाळी भाजीपाला पिके':
        f = i
    if my_df[i][0] == 'वार्षिक व बहुवर्षीय पिके':
        g = i
print(a,b,c,d,e,f,g)

5 11 12 18 19 20 22

In [213]:
K1,K2,K3,R4,R5,S6,S7,A8 = [],[],[],[],[],[],[],[]
for i in range(length):
    if i < a:
        K1.append([my_df[i][0],my_df[i][1]])
    elif (i > a and i < b):
        K2.append([my_df[i][0],my_df[i][1]])
    elif (i > b and i < c):
        K3.append([my_df[i][0],my_df[i][1]])
    elif (i > c and i < d):
        R4.append([my_df[i][0],my_df[i][1]])
    elif (i > d and i < e):
        R5.append([my_df[i][0],my_df[i][1]])
    elif (i > e and i < f):
        S6.append([my_df[i][0],my_df[i][1]])
    elif (i > f and i < g):
        S7.append([my_df[i][0],my_df[i][1]])
    elif (i > g):
        A8.append([my_df[i][0],my_df[i][1]])

In [214]:
print(K1)

[['खरीप भात', 137.2098], ['खरीप भुईमुग', 36.618], ['बाजरी', 41.1414], ['मुग, मठ, चवळी, उडिद, \nकुलीद', 16.0473], ['सोयाबीन', 276.6813]]

In [216]:
mymaster = [['खरीप ज्वारी'],['बाजरी'],['मुग'],['उडिद'],['तीळ'],['सोयाबीन'],['मका'],['खरीप भुईमुग'],['खरीप सुर्यफुल'],['खरीप चारा पिके'],['खरीप भात'],['नागली'],['वरई'],['वाल'],['Others']]
for i in range(len(K1)):
#     print(K1[i][0])
    for j in range(len(mymaster)):
#         print(mymaster[j][0])
        if K1[i][0] == mymaster[j][0]:
            mymaster[j].append(K1[i][1])
            break
#     print(mymaster)
print(mymaster)

[['खरीप ज्वारी'], ['बाजरी', 41.1414], ['मुग'], ['उडिद'], ['तीळ'], ['सोयाबीन', 276.6813], ['मका'], ['खरीप भुईमुग', 36.618], ['खरीप सुर्यफुल'], ['खरीप चारा पिके'], ['खरीप भात', 137.2098], ['नागली'], ['वरई'], ['वाल'], ['Others']]

In [146]:
listlist = [village_name]
total = 0
for i in range(len(mymaster)):
    if len(mymaster[i]) == 2:
        listlist.append(mymaster[i][1])
        total = total + mymaster[i][1]
    else:
        listlist.append("")
listlist.append(total)        
print(len(listlist))

17

In [95]:
df['2018']

,खरीप प्रमुख पिके,area_kharif_major_1,crop_area_per_holding_sample,total_cultivable_area
0,खरीप ज्वारी,1,0.0331,21.8129
1,खरीप भुईमुग,1.25,0.0413,27.2167
2,बाजरी,6.25,0.2066,136.149
3,मका,11.25,0.3719,245.082
4,सोयाबीन,4,0.1322,87.1198
5,खरीप भाजीपाला पिके,area_kharif_vegi_2,crop_area_per_holding_sample,total_cultivable_area
6,Others,1,0.0331,21.8129
7,फ्लॉवर,0.25,0.0083,5.4697
8,वाटाणा,3,0.0992,65.3728
9,दीर्घ खरीप पिके,area_Kharif_long_3,NaN,NaN
10,रब्बी प्रमुख पिके,area_rabi_main_4,crop_area_per_holding_sample,total_cultivable_area
11,गहू,5.25,0.1736,114.402
12,हरभरा,1,0.0331,21.8129
13,रब्बी भाजीपाला पिके,area_rabi_vegi_5,crop_area_per_holding_sample,total_cultivable_area
14,कांदा,16,0.5289,348.545
15,उन्हाळी प्रमुख पिके,area_summer_major_6,crop_area_per_holding_sample,total_cultivable_area
16,,0,0,0
17,उन्हाळी भाजीपाला पिके,area_summer_vegi_7,NaN,NaN
18,वार्षिक व बहुवर्षीय पिके,area_annual_8,crop_area_per_holding_sample,total_cultivable_area
19,पेरू,1,0.0331,21.8129
20,सीताफळ,1,0.0331,21.8129

In [164]:
output = pd.read_excel('Master.xlsx', sheet_name=None) # can also index sheet by name or fetch all sheets

In [165]:
dfObj = output['Sheet1']

In [166]:
modDfObj = dfObj.append(pd.Series(listlist, index=dfObj.columns ), ignore_index=True)

In [167]:
modDfObj

,village_nme,खरीप ज्वारी,बाजरी,"मुग, मठ, चवळी, उडिद, \nकुलीद",तीळ,सोयाबीन,मका,मका चारा,खरीप भुईमुग,खरीप सुर्यफुल,खरीप चारा पिके,खरीप भात,नागली,वरई,वाल,Others,Total Kharif
0,Eklahare,21.8129,136.1494,,,,87.1198,245.0821,27.2167,,,,,,,,517.3809

In [173]:
modDfObj.to_excel("OUT/master_kharif.xlsx")